<section>

    <figure>
        <img src="" alt="Ad image">
    </figure>

    <article>
        <p>{{ this.title }}</p>
    </article>

    <a href="/ads/adRemove/{{this._id}}">Delete Ad</a>

</section>