<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ads/catalog">Ad catalog</a></li>
        <li><a href="/ads/postForm">Post Add</a></li>
        <li><a href="/">Log Out</a></li>
    </ul>
</nav>