<form action="/ads/postNewAd" method="post">

    <label for="title">Title</label>
    <input id="title" name="title" type="text" maxlength="50">

    <label for="description">Description</label>
    <input id="description" name="description" type="text">

    <input type="submit" value="Post Ad">

</form>